.index{
  font-size: 18px;
  background-color: #f6f6f6;
}
.all {
  width: 1100px;
  height: 400px;
  position: relative;
  padding-top:20px;
}
.screen {
  width: 1100px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.screen li {
  width: 1100px;
  height: 400px;
  overflow: hidden;
  float: left;
}
.screen li img{
  width: 100%;
  height: 400px;
}
.screen ul {
  position: absolute;
  left: 0;
  top: 0px;
  width: 6000px;
}

.all ol {
  position: absolute;
  right: 502px;
  bottom: 10px;
  line-height: 20px;
  text-align: center;
}
.all ol:hover {
  cursor: pointer;
}

.all ol li {
  float: left;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.all ol li.current {
  background: red;
}
#arr {
  opacity: 0;
}
#arr span {

  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  font: 30px Simsun;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -35px;
  cursor: pointer;
  font-family: '黑体';
  color: #fff;
  background: rgba(0,0,0,0.5);
  line-height: 40px;
}
#arr #right {
  right: 10px;
  left: auto;
}
h3{
  border-left: 3px solid red;
  font-size: 20px;
  padding-left:14px;
  box-sizing: border-box;
}

.box {
  width: 1100px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.box ul li {
  width: 260px;
  float: left;
  margin-right: 20px;

}
.box ul li img{
  width: 260px;
}
/* .box ul li img:nth-child(4n){
  margin-right: 0;
} */
.box ul {
  width: 3500px;
  position: absolute;
  left: 0;
  top: 0;
}
.title{
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
/* 舞蹈样式 */
.dance li{
  width: 270px;
  height: 180px;
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
}
.dance li img{
  width: 270px;
  height: 180px;
}
.dance img:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform .5s ease-in-out
}
/* 古筝样式 */
.gu_zheng li{
  width: 250px;
  height: 250px;
  margin-right: 32px;
  display: inline-block;
}
.gu_zheng li:nth-child(4){
  margin-right: 0;
}
.gu_zheng li:hover {
  cursor: pointer;
  animation: rotation 3s linear infinite;
}
@keyframes rotation{
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}
.gu_zheng li img{
  width: 100%;
  height: 100%;
}
/* 图书样式 */
.book{
  display: flex;
}
.book li{
  width: 260px;
  display: inline-block;
  padding: 14px;
  box-sizing: border-box;
  border: 1px solid #eee;
  margin-right: 20px;
}
.book li:nth-child(4){
  margin-right: 0;
}
.book li:hover{
  cursor: pointer;
  box-shadow: 1px 1px 4px 4px #eee;
}
.book li p{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.book li span{
  color: #999;
  font-size: 14px;
}
/* 美食样式 */
.food li{
  display: inline-block;
  width: 250px;
  margin-right: 30px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.food li:nth-child(4n){
  margin-right: 0;
}
.food li p{
  margin-top: 20px;
  margin-bottom: 20px;
}
.food li img{
  width: 248px;
  height: 248px;
}
.food li:hover{
  cursor: pointer;
  border: 1px solid red;
}
/* 吸猫样式 */
.cat .mc{
  position: relative;
  height: 210px;
  display: inline-block;
}
.cat .m_1{
  width: 410px;
  margin-right: 20px;
}
.cat .m_2{
  width: 210px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.cat .mc img{
  width: 100%;
  height: 100%;
}
.cat .mc .name{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  padding-top: 100px;
  box-sizing: border-box;
  opacity: 0;
  cursor: pointer;
}
.cat .mc .name:hover{
  background-color: rgba(0,0,0,0.5);
  /* opacity: 1; */
  animation:mymove 1s infinite;
}
@keyframes mymove{
  from {opacity: 0;}
  to {opacity: 1;}
}

.c_top{
  position: fixed;
  bottom: 110px;
  right: 20px;
  width: 60px;
  height: 60px;
}